
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /quoteRequests/{quoteRequestId} {
      allow read: if true; 
      allow create: if request.resource.data.id == quoteRequestId;
      // Permite atualização e exclusão para o gerenciamento via senha mestra no front-end
      allow update, delete: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
